# Responsável pelo diretório frontend
/frontend/ @cleytonjesus07

# Responsável pelo diretório backend
/backend/ @Bruno-Pimenta

# Responsável pelas configurações do GitHub Actions
/.github/workflows/* @Alan-oliveir

# Responsável por todo o repositório (fallback)
* @Alan-oliveir
