# ============================
# 🌐 CONFIGURAÇÕES DE AMBIENTE
# ============================

# URL base da API em desenvolvimento
VITE_BASEURL_DEV="{Endereço do banco de desenvolvimento}"

# URL base da API em produção
VITE_BASEURL_PROD="{Endereço do banco de produção}"

# Credenciais codificadas em Base64: "client_id:client_secret"
VITE_CLIENT_CREDENTIALS_BASE64="{Base64 das credênciais (client_id:client_secret)}"

